<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
<style>
    .headerNavUl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(72, 72, 72);
  padding: 10px;
}

.headerNavUl li {
  margin-right: 20px;
  list-style: none;
}

.headerNavUl li:last-child {
  margin-right: 0;
}

.headerNavUl li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
</style>
    <title>Document</title>

</head>
<body>
    <div class = "header">
    <h1 id = "wordle">Wordle</h1>
    <nav class="headerNav">
        <ul class = "headerNavUl" style="background-color: rgb(72, 72, 72); display: flex; font: size 20px;; " >
            <li><a style="color:white;" href="/">Wordle</a></li>
            <li><a style="color:white;" style="color:white;" href="/highscore">Highscores</a></li>
            <li><a style="color:white;" href="/info">About us</a></li>
        </ul>
    </nav>
</div>
</body>
</html>

